[Unit]
Description=Catena distributed ledger
After=network.target

[Service]
Type=simple
User=catena
Group=catena
ExecStart=/usr/bin/catena -l /var/lib/catena/ledger \
 -P /usr/share/catena/seedpeers -d
Restart=on-failure
ProtectSystem=full
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
